<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>CoderDojo奈良<br>CoderDojo生駒<br>CoderDojo田原本</h2>
        </header>
        <p>奈良市、生駒市、田原本町で開催している<br>子ども達のためのプログラミングコミュニティです</p>

    </div>

</section>