<!-- Footer -->
<footer id="footer">

    <ul class="icons">
        <li><a href="https://twitter.com/CoderDojoNara" class="icon circle fa-twitter">
					<span class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/CoderDojoNara/" class="icon circle fa-facebook">
					<span class="label">Facebook</span></a></li>
        <li><a href="https://github.com/coderdojo-nara-ikoma/" class="icon circle fa-github">
					<span class="label">Github</span></a></li>
    </ul>
    <p>
      <a href="https://coderdojo.com"><img src="/images/coderdojo.png" alt="CoderDojo"></a>
    </p>
		<p><a href="http://zen.coderdojo.com/dojo/jp/nara-ken/nara-nara-prefecture/nara-womens-future-center">CoderDojo奈良</a>と<a href="https://zen.coderdojo.com/dojo/jp/ikoma-nara-prefecture/ikoma-nara">CoderDojo生駒</a>は<br>CoderDojo Foundationに公式のDojoとして登録されています。
			</p>
    <p style="font-size:14px;">CoderDojo生駒のアイコンは、生駒市のWeb&amp;Graphicデザイナー<br><a href="http://www.hiramoto-design.com/">平本久美子さん</a>が作ってくださいました。</p>

    <ul class="copyright">
        <li>&copy; CoderDojo奈良・CoderDojo生駒</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>

</footer>