    <header id="header">
				<h1 id="logo"><a href="/">CoderDojo奈良・CoderDojo生駒</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/blog/">Blog</a></li>
						<li><a href="/join/">参加する</a></li>
						<li class="submenu">
							<a href="">CoderDojoについて</a>
							<ul>
				                <li><a href="/about/">CoderDojoとは</a></li>
				                <li><a href="/library/">CoderDojo奈良・生駒ライブラリ</a></li>
				                <li><a href="/link/">リンク</a></li>
							</ul>
						</li>
						<li><a href="/materials/">道具と素材</a></li>
						<li><a href="/donate/" class="button special">支援する</a></li>
					</ul>
				</nav>
			</header>